@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

.container {
	height: 90vh;
}

.page-title-contact {
	font-family: "Shrikhand", cursive;
	text-align: center;
	font-size: 85px;
	/* margin-top: 20%; */
	letter-spacing: -7px;
	/* margin-top: 50px;
	margin-bottom: 11%; */
	background: -webkit-linear-gradient(rgb(197, 232, 183), rgb(66, 52, 62));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 7s steps(30, end), blink-caret 2s step-end infinite;
}

.top {
	margin-top: 190px;
	margin-bottom: 80px;
}

.title-contact {
	text-decoration: underline;
	text-decoration-color: orange;
	letter-spacing: -1px;
}

.info-contact {
	font-family: "Cabin", sans-serif;
	text-decoration: none;
	color: black;
	font-size: 55px;
}

.info-contact:hover {
	text-decoration-color: black;
	color: rgb(228, 181, 115);
	font-style: italic;
}

@media screen and (max-width: 769px) {
	.container {
		height: 50vh;
	}

	.page-title-contact {
		margin-top: 10%;
		font-size: 45px;
		letter-spacing: -4px;
		animation: none;
		border-right: none;
	}
	.info-contact {
		font-size: 30px;
	}

	.top {
		margin-top: 30%;
		margin-left: 60px;
	}

	.bottom {
		margin-left: 60px;
	}
}
