.footer {
	/* position: fixed; */
	/* right: 0;
	bottom: 0;
	left: 0; */
	color: black;
	background-color: transparent;
	height: 44px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
} */
